version: '3'
services:

  postgres:
    image: postgres:10.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"


  pgadmin:
    image: thajeztah/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: postgres
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_ENABLE_TLS: "False"
    ports:
      - "5050:5050"
    depends_on:
      - postgres
